.block {
  margin-top: 4.5rem;
}
.block-title {
  font-size: 1.35rem;
  font-weight: normal;
  margin-top: 15vh;
}
.block ul {
}
.block ul > li {
  line-height: 2;
}
.block ul > li a {
  color: gray;
}
.labs-block {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: top;
  margin-left: -1%;
  margin-right: -1%;
  padding-left: 0;
}
.lab-item {
  width: 23%;
  list-style: none;
  border: 1px solid #dee2e6;
  padding: 5px;
  box-sizing: border-box;
  margin: 0 1% 1rem;
}
.lab-item img {
  width: 100%;
}
.about-link {
  display: inline-block;
  color: #6c757d;
  margin-right: 20px;
  text-decoration: none;
}
.social {
  margin-top: 2.5rem;
}