* {
	border: 0;
	padding: 0;
	margin: 0;
  //outline: none;
	box-sizing: border-box;
}
body, html {
  font-family: "Microsoft YaHei", "微软雅黑", "宋体", STXihei, "华文细黑", Arial, Verdana, arial, sans-serif;
	width: 100%;
  font-size: 17px;
}
body {
  min-height: 100vh;
  overflow-x: hidden;
  @include flex();
  @include flex-column();
}
.container {
  background-color: var(--bg-color);
  color: var(--text-color);
}
main {
  flex: 1;
}
h1, h2, h3 {
  font-weight: normal;
}
h1 {
  font-size: 2.36rem;
}

h2 {
  font-size: 1.77rem;
}

h3 {
  font-size: 1.33rem;
}
a, a:hover, a:visited, a:active {
  text-decoration: none;
  color: inherit;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
.site-footer {
  line-height: 1.5rem;
  padding: 1.25rem 0 0.75rem;
  color: var(--default);
  font-size: 0.75rem;
  text-align: center;
  width: 100%;
  a {
    font-size: 0.75rem;
    margin: 0 3px;
  }
}
.subscribe__form {
  max-width: 400px;
  width: 100%;
  display: block;
  position: relative;
  // margin-bottom: 30px;
  margin: 1.75rem auto;
  input {
    height: 46px;
    width: 100%;
    border: 1px solid var(--light);
    border-radius: 6px;
    padding: 8px 115px 8px 15px;
    font-size: 14px;
    color: var(--grayer);
    &:focus {
      outline: none;
    }
  }
  button {
    width: 100px;
    text-align: center;
    line-height: 46px;
    position: absolute;
    right: 0;
    bottom: 0;
    color: var(--grayer);
    font-size: 14px;
    // border-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    cursor: pointer;
    background-color: var(--light);
  }
}
.form-state-msg {
  margin-top: -20px;
  text-align: center;
  font-size: 0.85rem;

  &.state-success {
    color: rgba(68, 131, 97, 1);
  }
  &.state-error {
    color: rgba(212, 76, 71, 1);
  }
}
