.book-summary {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -300px;
  z-index: 1;
  overflow-y: auto;
  width: 300px;
  color: var(--secondary);
  border-right: 1px solid var(--border-color);
  -webkit-transition: left 250ms ease;
  -moz-transition: left 250ms ease;
  -o-transition: left 250ms ease;
  transition: left 250ms ease;
  &::-webkit-scrollbar {
    width: 8px;
    height: 1px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--light);
  }
  &::-webkit-scrollbar-track {
    background-color: var(--lightest);
  }
}
.close-summary {
  display: none;
}
.book-summary ul.summary {
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-transition: top 0.5s ease;
  -moz-transition: top 0.5s ease;
  -o-transition: top 0.5s ease;
  transition: top 0.5s ease;
  font-size: 16px;
  padding: 0 0 20px;
}
.book-summary ul.summary li {
  list-style: none;
  &.volume > a {
    color: var(--text-color);
    font-weight: bold;
    font-size: 0.85rem;
  }
}
.book-summary .header {
  padding: 10px 15px 20px;
  padding-top: 20px;
  text-transform: uppercase;
  color: var(--default);
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 7px;
  .summary__desc {
    margin-top: 15px;
  }
  h1 {
    font-size: 1rem;
    color: var(--text-color)
  }
  p {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}
.book-summary ul.summary li a,
.book-summary ul.summary li span {
  display: block;
  padding: 8px 15px;
  border-bottom: none;
  color: inherit;
  background: transparent;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}
.book-summary ul.summary li a:hover {
  text-decoration: underline;
}
.book-summary ul.summary li a:focus {
  outline: none;
}
.book-summary ul.summary li.active > a {
  color: var(--hightlight);
  background: transparent;
  text-decoration: none;
}
.book-summary ul.summary li ul {
  padding-left: 10px;
}
@media (max-width: 1240px) {
  .book__wrapper.with-summary .book-summary {
    width: 100%;
    position: fixed;
    background-color: var(--bg-color);
    height: 100%;
    z-index: 55555;
  }
  .close-summary {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 111;
    width: 50px;
    text-align: center;
    height: 40px;
    padding-top: 10px;
  }
}
.summary__footer {
  border-top: 1px solid var(--border-color);
  padding: 10px;
  h4 {
    font-size: 0.85rem;
    line-height: 1.75rem;
  }
  p {
    font-size: 0.75rem;
    line-height: 1.15rem;
  }
  .icon__list {
    text-align: left;
    margin: 1rem 0 1.5rem;
  }
}
