:root {
  --dark: #374F5B;
  --grayer: #6D7B7B;
  --gray: #6c757d;
  --gray-light: #ced4da;
  --light-gray: #adb5bd;
  --light: #dee2e6;
  --lighter: #ECEBE8;
  --lightest: #F6F4EF;
  --white: #fff;
  --blue: #849B87;
  --red: #dc3545;

  --content-width: 750px;
  --summary-width: 300px;

  --primary: var(--dark);
  --text-color: var(--dark);
  --secondary: var(--grayer);
  --default: var(--gray);
  --third: var(--gray-light);
  --bg-color: var(--lightest);
  --border-color: var(--light);
  --hightlight: var(--blue);
}

.book__wrapper.dark-mode {
  --text-color: var(--lightest);
  --bg-color: var(--dark);
  --border-color: var(--gray);
  --default: var(--light);
  --secondary: var(--lighter);
  --third: var(--light-gray);
}
